.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.icon {
  padding: 5px;
}

select {
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
select:focus { outline:0; }