<div class="footer" fxLayout="row" fxLayoutAlign="end center">
  <a fxFlex class="icon">
    <ngx-emoji emoji="smile" size="14" isNative=true></ngx-emoji>
  </a>
  <a class="icon" href="https://www.linkedin.com/in/timarioto" target="_blank">
    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
  </a>
  <a class="icon" href="https://github.com/tarioto" target="_blank">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
  </a>
  <a class="icon" href="https://www.instagram.com/tarioto" target="_blank">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
  </a>
</div>