.app-container {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.icon {
  color: white;
}

::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}

::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}
