<div class="app-container" fxLayout="row" fxLayoutAlign="center center">
  <h1 class="title">
    {{title}}
    <div style="text-align:center">
      <a class="icon" href="https://www.linkedin.com/in/timarioto" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
    </div>
  </h1>
</div>

<router-outlet></router-outlet>
<p-toast styleClass="custom-toast" position="bottom-center">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
      <fa-icon [icon]="['fad', 'arrow-down']"></fa-icon>
    </div>
  </ng-template>
</p-toast>
