body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    .icon {
      color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .icon {
      color: white;
    }
}
