.four-zero-four-container {
  bottom: 0;
  height: 100%;
  left:0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.four-zero-four-title {
  text-align: center;
}

.four {
  font-size: 6em;
}
